.jqplotContainer { height:290px; width:450px; }

.jqplot-data-label {font-family: Georgia; font-weight:bold; color: #fff}

table.jqplot-table-legend, table.jqplot-cursor-legend {
    background-color: rgba(255,255,255,0.6);
    border: 1px solid #cccccc;
    position: absolute;
    font-family:"faunaOne", sans-serif;
    font-size: 0.8em;
    text-align:left;
}
